
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic|Lato|Open+Sans:400,400italic|Anonymous+Pro' rel='stylesheet' type='text/css'>

<!-- Actual CSS -->
{% include base.html %}
<link rel="stylesheet" href="{{base}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base}}/css/main.css">


<!-- Begin non-free Google Analytics Code. Remove this if you make a modification of this website, as it is nonfree, and will annoy us.
     This is the only piece of non-free code in the entire website. Make sure it stays that way. -->
<script type="text/javascript">
  // jshint ignore:start
  !function(c,r,e,d,i,b,l){c.GoogleAnalyticsObject=e;c[e]||(c[e]=function(){
  (c[e].q=c[e].q||[]).push(arguments)});c[e].l=+new Date;b=r.createElement(d);
  l=r.getElementsByTagName(d)[0];b.src=i;l.parentNode.insertBefore(b,l)}
  (window,document,'ga','script','//www.google-analytics.com/analytics.js');

  ga('create', 'UA-68625861-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End the non-free GA code -->
